<?xml version="1.0" encoding="UTF-8" ?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>reportServer</display-name>
	<description>reportServer</description>
	<servlet>
		<servlet-name>reportServer</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- <init-param> -->
		<!-- <param-name>contextConfigLocation</param-name> -->
		<!-- <param-value>/WEB-INF/conf/spring-controllers.xml</param-value> -->
		<!-- </init-param> -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>reportServer</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>report-service/bin-release/index.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>reportServer</servlet-name>
	</filter-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/conf/spring-controllers.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>reportServer-springJersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>il.co.topq</param-value>
		</init-param>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>reportServer-springJersey</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reportServer-springJersey</servlet-name>
		<url-pattern>/export-service/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reportServer-springJersey</servlet-name>
		<url-pattern>/config-service/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>